
// COMMON COLOR FOR
$color-orange:#f15a22 !important;
$color-darkorange:#9b3a16 !important;

$color-gray:#8e8e8e;

$color-dark:#2d2d2d !important;

$color-red:#f21b1b !important;
$color-white:#fff !important;
$color-black:#000 !important;
// $color-lightgray:#f6f6f6 !important;


$color-primary:$color-orange;
$color-secondary:$color-dark;
// $color-third:$color-darkgreen;
// $color-fourth:$color-orange;

