// $font-primary:'Open Sans', sans-serif !important;
// $font-secondary:'Roboto', sans-serif !important;
$font-primary:'Open Sans', sans-serif !important;

//FONT WEIGHT
$light:300;
$medium:500;
$regular:400;
$bold:700;
$xtrabold:800;
$semibold:600;

