/*********CSS INJECTION 2018
 ***********************/
/***
Date :
Web Designer: William L. Carrasca Jr.
Company: Enggware LTD under Enggsol Engineering Solution
Email: william@enggware.com
Contacts: +639212632325 | +639177229718
Google Site: http://sites.google.com/view/william-cv-2018
Behance: http://behance.net/wilvyrux
Skype: williamcarrascajr
 ***/


// Modules and Variables
@import "dnr_frontend/modules/mixin";
@import "dnr_frontend/modules/colors";
@import "dnr_frontend/modules/typography";

// Partials
@import "dnr_frontend/partials/resets";
@import "dnr_frontend/partials/headings";
@import "dnr_frontend/partials/buttons";
@import "dnr_frontend/partials/header";
@import "dnr_frontend/partials/footer";
@import "dnr_frontend/partials/pages";
@import "dnr_frontend/partials/news-events";
@import "dnr_frontend/partials/sub-banners";